@forward "./base/reset";
@forward "./base/typographic";

// // color varibales declaration
// $header-bgcolor: #ffab73;
// $main-bgcolor: #ffd384;

// //nesting css
// nav {
//   margin-top: 15px;
//   ul {
//     list-style-type: none;
//     li {
//       display: inline-block;
//       margin: 0 1rem;
//       a {
//         color: white;
//         text-decoration: none;
//         display: inline-block;
//         padding: 10px;
//         transition: 0.4s;
//         border-radius: 5px;
//       }
//       a:hover {
//         background-color: #000;
//       }
//     }
//   }
// }

header {
  background: bisque;
  padding: 1rem;
}
main {
  background: orange;
  padding: 1rem;
}
