// color varibales declaration
$header-bgcolor: #ffab73;
$main-bgcolor: #ffd384;
$footer-bgcolor: #ffaec0;

$para-fontSize: 1rem;

// browser reset code
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: $header-bgcolor;
}
//nav styling
//nesting css
nav {
  margin-top: 15px;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0 1rem;
      a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        transition: 0.4s;
        border-radius: 5px;
      }
      a:hover {
        background-color: #000;
      }
    }
  }
}

main {
  background: $main-bgcolor;
}
footer {
  background: $footer-bgcolor;
}
#about {
  font-size: $para-fontSize;
}
